<div class="container-fluid container-top">
  <div class="container container-signin container-sign px-4">
    <div class="modal-login-body">
      <h3 class="text-center mb-4">New Dimension</h3>
      <%= render 'form', dimension: @dimension %>
    </div>
  </div>
</div>