<div class="bg-light">
  <div class="bg-purple py-5 position-relative">
    <div class="container py-2">
      <div class="row align-items-center">
        <div class="col-lg-4 text-center">
          <img src="/book.png" class="img-fluid img-book">
        </div>
        <div class="col-lg-8 text-center">
          <h2 class="home-banner-h">Mind Growing 360 leadership Compasses is a service from <a href="https://compassiontolead.net/" target="_blank">Compassion To Lead</a> and is based on the book written by Marc Vanschoenwinkel.</h2>
          <a href="https://mindgrowing.net/" class="btn btn-primary home-banner-b" target="_blank">Mind Growing Leadership, Build Thriving Companies Through Personal Growth</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-5 content-result">
    <h4 class=" font-heading-6 text-sky font-weight-500 text-center text-none mb-4">Mind Growing 360 Leadership compasses offers two 360° feedback tools to enhance the development of leaders.</h4>
    <h3 class="font-heading-3 text-none text-purple mt-2 mb-4 font-weight-500">Tool one: 360 Leadership compass, behaviours</h3>
    <p class="font-paragraph-h mb-4">As I describe in my book, Mind Growing: Leadership is interaction. </p>

    <p class="font-paragraph-h mb-4">And while the saying goes “it takes two to tango”, this is only partly true. The dance analogy is super relevant, though, because you as a leader need to start and influence the dance with your behaviour! If you are dancing with someone and not making the right moves, the fun dies. People will get irritated, and at some point, you will lose your dancing partner. However, if you are willing to look at the way you’re dancing, to reflect upon it, learn some new passes, and practice…then dancing becomes more and more fun. You’ll have all the dancing partners you want. And of course, the dance itself becomes easier, more fun, and beautiful to watch if all dancing partners put in the same effort.</p>

    <p class="font-paragraph-h mb-4">So interaction is a dance and it can make or break you!</p>

    <p class="font-paragraph-h mb-4">The 360 Leadership Compass Behaviours is based on the famous concept of Timothy Leary, Leary’s Rose. During my 30 years of experience, I’ve developed my own approach to presenting and using it.</p>

    <p class="font-paragraph-h mb-4">In Chapters Ten and Eleven of my book, Mind Growing: Leadership To Build Thriving Companies Through Personal Development, you can find an in-depth description of the tool as well as practical examples and tips that will help you apply it.</p>

    <p class="font-paragraph-h mb-4">This 360° feedback tool collects feedback about how you are “dancing” at this moment, and what could help you become a “star dancer”!</p>

    <p class="font-paragraph-h mb-4">It will give you feedback and insight into the following elements:</p>

    <p class="font-paragraph-h mb-2">
      <span class="text-purple font-weight-bold">Active-Passive:</span>
       How active/dominant are you during interactions?
    </p>
    <p class="font-paragraph-h mb-4">
      <span class="text-purple font-weight-bold">I-WE:</span>
       Are you mainly defending your own interests and beliefs or showing your interest in a win-win outcome?
    </p>
    <p class="font-paragraph-h mb-4 font-weight-bold">
      These 2 dimensions combined encompass 4 main colours and 8 behavioural strategies that shape an interaction:
    </p>
    <p class="font-paragraph-h mb-3">
      <span class="d-block text-yyellow font-weight-bold mb-3">Yellow or initiating behaviour</span>
      Inspiring
      <br/>Coaching
    </p>
    <p class="font-paragraph-h mb-3">
      <span class="d-block text-green font-weight-bold mb-3">Green or Following behaviour</span>
      Participating
      <br/>Following
    </p>
    <p class="font-paragraph-h mb-3">
      <span class="d-block text-blue font-weight-bold mb-3">Blue or withdrawing Behaviour</span>
      Retreating
      <br/>Resisting
    </p>
    <p class="font-paragraph-h mb-0">
      <span class="d-block text-red font-weight-bold mb-3">Red or competing behaviour</span>
      Convincing
      <br/>Directing
    </p>
  </div>
  <hr class="my-0">
  <div class="container py-5 content-result">
    <h3 class="font-heading-3 text-none text-purple mt-2 mb-4 font-weight-500">Tool two: 360 Leadership compass, challenges</h3>
    <p class="font-paragraph-h mb-4">Based on more than 30 years of experience and literature I defined a key leadership tool in my book Mind Growing Leadership. It is called the New Leadership ABCs and it defines the 3 areas leaders should focus in order to build happy productive teams and companies with a high level of ownership and engagement from co-workers.</p>
    <p class="font-paragraph-h font-weight-bold mb-3">
      These 3 areas are:
    </p>
    <p class="font-paragraph-h mb-2">
      <span class="text-purple font-weight-bold">Ambition</span> : What is your purpose to lead? To which better place do you want to lead people?
    </p>
    <p class="font-paragraph-h mb-2">
      <span class="text-purple font-weight-bold">Boundaries</span> What is the playing field for employees where they can develop ownership and own initiative?
    </p>
    <p class="font-paragraph-h mb-4">
      <span class="text-purple font-weight-bold">Culture and coaching</span>  What is done to build the right culture and to support people in taking ownership?
    </p>
    
    <p class="font-paragraph-h mb-4">
     Juggling with these 3 areas of leadership we identified 7 key challenges for contemporary and future leadership, namely:
    </p>
    <p class="font-paragraph-h mb-1 text-purple font-weight-bold">
      Leading the undercurrent
    </p>
    <p class="font-paragraph-h mb-4">
      How to lead (hidden) emotions and agendas?
    </p>
    <p class="font-paragraph-h mb-1 text-purple font-weight-bold">
      Infecting people with purpose
    </p>
    <p class="font-paragraph-h mb-4">
      How to infect others with purpose and meaning?
    </p>
    <p class="font-paragraph-h mb-1 text-purple font-weight-bold">
      Offering solid ground
    </p>
    <p class="font-paragraph-h mb-4">
      How to maintain solid ground in times of high volatility?
    </p>
    <p class="font-paragraph-h mb-1 text-purple font-weight-bold">
      Facilitating productive collaboration
    </p>
    <p class="font-paragraph-h mb-4">
      How to structure for optimal collaboration and engagement?
    </p>
    <p class="font-paragraph-h mb-1 text-purple font-weight-bold">
      Releasing energy
    </p>
    <p class="font-paragraph-h mb-4">
      How to get creativity and innovation flowing?
    </p>
    <p class="font-paragraph-h mb-1 text-purple font-weight-bold">
      Fostering agility
    </p>
    <p class="font-paragraph-h mb-0">How to become agile?</p>
    <p class="font-paragraph-h mb-4">And finally, because one is always operating within a context, we added a 7th challenge: </p>
    <p class="font-paragraph-h mb-1 text-purple font-weight-bold">
      Thinking Outside-in
    </p>
    <p class="font-paragraph-h mb-4">
      How to translate the needs of the environment into better and/or new services and products.
    </p>

    <p class="font-paragraph-h mb-0">
      This 360 feedback tool collects feedback on how you are dealing with these 7 challenges.
    </p>
  </div>
</div>