<p>Hello, </p>
<p> <%= @sender%> has sent you an invite to fill up a questionnaire on New Leadership 360 Portal. Please check your invites at  </p>
<%= link_to "Invites", user_invites_url %>

<p>Thank you!</p>
