<p>Hello, <%= @user.email %></p>
<p> Your account has been created on a <b>Leadership 360 Portal</b>. Please <a href="<%= new_user_session_url %>">Login</a> Using your credentials.</p>
  <b>Email:</b> <%= @user.email %><br>
  <b>Password:</b> <%= @password %>
<p>Thank you!</p>
