<div class="footer-bg-color text-2">
  <div class="footer-small">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <a class="font-weight-500 mr-2" href="mailto:marc@compassiontolead.com">Get in touch</a>
          |
          <a class="font-weight-500 ml-2" href="mailto:marc@compassiontolead.com">Support</a>
        </div>
        <div class="col-md text-center">
          Mind Growing copyright 2020
        </div>
        <div class="col-md text-right">
          <a href="mailto:marc@compassiontolead.com" target="_blank">
            <i class="fab fa-facebook-f mr-2"></i>
          </a>
          <a href="mailto:marc@compassiontolead.com" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>